@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css');


h1 {
  font-family: "Gentium Basic", serif;
  font-size: 3em;
}

h2 {
  font-family: "Gentium Basic", serif;
  font-size: 2em;
}

span {
  font-family: "Gentium Basic", serif;
  font-size: 1.5em;
}

a {
  color: black;
}