 <!DOCTYPE html>
<html>

<head>
    <title>{{data.work.info.name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Gentium+Basic:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='{{ url_for('static', filename='main.css') }}' rel='stylesheet' type='text/css'>
  
</head>

<body>
  <h1>{{data.work.info.author + " ~ " + data.work.info.name}}</h1>
  <h2>{{data.work.preface}}</h2>
  {% for line in data.work.content %}
    {% if line.number|int is divisibleby(5) %}
      <span class="emp number">{{line.number}}</span>    
    {% else %}
      <span class="number">{{line.number}}</span>    
    {% endif %}
    {% for word in line.content.split(" ") %}
      {% if word in line.footnotes %}
        {% if line.footnotes[word][0] == "" %}
        <a class="word" href="#" data-toggle="popover" title="" data-content="{{line.footnotes[word][1]}}" data-original-title="{{word}}">
          <span>{{word}}</span>
        </a>
        {% else %}
        <a class="word" href="#" data-toggle="popover" title="" data-content="{{line.footnotes[word][1]}}" data-original-title="{{line.footnotes[word][0]}}">
          <span>{{word}}</span>
        </a>
        {% endif %}
      {% else %}
        <span>{{word}}</span>
      {% endif %}
    {% endfor %}
    <br>
  {% endfor %}
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
</body>